.contenedor{

    width: 100%;
height: 8500px;
background-color: rgb(248, 6, 6);
display: flex;
flex-direction: column;
text-align: center;
color: rgb(1, 7, 1);
}

.encabezado{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.sociales{
    width: 100%;
    height: 900px;
    background-color: rgb(44, 31, 158);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}   
.matematicas{
    width: 100%;
    height: 3600px;
    background-color: rgb(128, 36, 93)
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
   
}   


.quimica{
    width: 100%;
    height: 900px;
    background-color: rgb(243, 99, 15);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.biologia{
    width: 100%;
    height: 900px;
    background-color: rgb(39, 105, 42);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.tecnologia{
    width: 100%;
    height: 3300px;
    background-color: rgb(193, 226, 47);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



