.contenedor{

    width: 100%;
    height: 1200px;
    background-color: rgb(243, 250, 248);
    display: flex;
    flex-direction: column;
    text-align: center;
   

}

.encabezado{
    width: 100%;
    height: 200px;
    background-color: rgb(2, 2, 2);
    color: rgb(247, 242, 242);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fuentesrenovables{

    width: 95%;
    height: 200px;
    background-color: rgb(242, 245, 247);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: rgb(0, 0, 0);
    text-align: justify;
}
.fuentesnorenovables{
 
    width: 95%;
    height: 200px;
    background-color: rgb(250, 251, 252);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: rgb(0, 0, 0);
    text-align: justify;

}
